@import "../../node_modules/bootstrap/scss/bootstrap";
// custom colours for headings //   
$custom-green: #3ad305;
$headings-color: $custom-green;
$primary-color: $custom-green;

h1 {
  color: $headings-color;
}

h2 {
  color: $headings-color;
}

h3 {
  color: $headings-color;
}

.custom.green {
    color: #3ad305 !important;
    
}
/* custom body background colour */
$body-bg: #000;

body {
  background-color: $body-bg;
}


/* custom button colours */

.btn.btn-custom {
  background-color: #3ad305 !important;
  color: black !important;
}


/* custom text coulor */
.text-green {
  color: #3ad305 !important;
}

/* my-form{
  lable.text-green{
    color: #3ad305;
  }
} */