// custom colours for headings //   
$custom-green: #3ad305;
$headings-color: $custom-green;

h1 {
  color: $headings-color;
}

h2 {
  color: $headings-color;
}

h3 {
  color: $headings-color;
}

.custom-green p {
  color: #3ad305;
}



/* custom body background colour */
$body-bg: #000;

body {
  background-color: $body-bg;
}